#showcase{
    height: 100vh;
    background: url('https://images.pexels.com/photos/1456706/pexels-photo-1456706.jpeg?cs=srgb&dl=pexels-ray-piedra-1456706.jpg&fm=jpg');
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}
#showcase .container .col-4{
    display :flex;
    height: 100vh;
    flex-direction: column;
     justify-content: center;
}
footer{
    background: black;
    text-align: center;
}
