#showcase{
    height: 100vh;
    background: url('https://images.pexels.com/photos/9214280/pexels-photo-9214280.png?cs=srgb&dl=pexels-madvortex-9214280.jpg&fm=jpg');
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}
#showcase .container .col-4{
    display :flex;
    height: 100vh;
    flex-direction: column;
     justify-content: center;
}
footer{
    background: black;
    text-align: center;
}
